/* When watching an episode, this is the current episode's description. */
.text-wrapper .description {
    display: none !important;
}

/* The description of the "first" or next episode in the series below the player or on a series page. */
section.info p.episode-description {
    display: none !important;
}

/* The description for a whole series, show, or movie. */
/* Doesn't need to be hidden. */
/* .erc-hero-description {
    display: none !important;
} */
