.bvrv-skip-button {
    position: absolute;
    right: 40px;
    height: 0;
    color: rgba(216, 187, 0, .5);
    border: solid 3px rgba(216, 187, 0, .5);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .bvrv-skip-button:hover {
        color: #fd0;
        border-color: #fd0;
    }

.bvrv-skip-button-useractive {
    bottom: 100px;
}

.bvrv-skip-button-userinactive {
    bottom: 40px;
}
