.bvrv-skip-button {
    position: absolute;
    right: 20px;
    color: rgba(216, 187, 0, .5);
    border: solid 3px rgba(216, 187, 0, .5);
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .bvrv-skip-button:hover {
        color: #fd0;
        border-color: #fd0;
    }

.bvrv-skip-button-useractive {
    bottom: 80px;
}

.bvrv-skip-button-userinactive {
    bottom: 20px;
}
