/* Thumbnail container */
article.erc-episode-card div.h-thumbnail {
    overflow: hidden !important;
}

/* Actual thumbnail, and only episode thumbnails */
/* Avoids movie and "whole season" thumbnails that typically do not contain spoilers. */
article.erc-episode-card div.h-thumbnail img.c-content-image.image {
    filter: blur(20px) !important;
}

div.video-content div.background-overlay {
    filter: blur(40px) !important;
}
