.control-label {
    flex-grow: 1;
    overflow: hidden;
}

.control-title {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.43;
    text-rendering: optimizeLegibility;
    color: #f9f9f9;
    text-transform: uppercase;
    opacity: inherit;
}

.control-description {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.41;
    color: #b0aebb;
    margin-top: .25rem;
    max-width: 80%;
    opacity: inherit;
}
