.keybind-row {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .keybind-row:not(:last-child) {
        margin-bottom: .5rem;
    }

.keybind-subrow {
    width: auto;
    margin-left: 4em;
}

.keybind-label {
    flex-grow: 1;
    font-size: 1rem;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    color: #f9f9f9;
    opacity: inherit;
}

.keybind-left-group {
    display: flex;
    flex-direction: row;
}
