input.number-input {
    width: 1.5em;
    background-color: transparent;
    padding: 2px 6px;
    border: solid 2px #999999;
    border-radius: 10px;
    outline: none;

    text-align: center;
    color: #FFF;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 200;
    font-style: normal;
    font-size: 2em;
}

    input.number-input:focus {
        border-color: #00b4ff;
    }

    input.number-input:disabled {
        user-select: none;
        color: #999999;
        background-color: #4d4d4d;
        border-color: transparent;
    }

    input.number-input::-webkit-outer-spin-button,
    input.number-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.seconds-label {
    position: relative;
    bottom: 0;
    display: inline;
    margin-left: 6px;

    font-size: 1.5em;
    font-weight: 300;
    color: #999999;

    text-transform: uppercase;
}
