body {
    margin: 0;
    padding: 0;
    background-color: #2f2d42;
    background-image: url('/images/vrv_bg_pattern.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#header {
    background-color: #1b1a26;
    position: fixed;
    height: auto;
    width: 100%;
    z-index: 999999;
    border-bottom: #fd0 3px solid;
}

#logo {
    height: 2rem;
    display: block;
    margin: 1rem auto;
}

#container {
    padding-top: calc(4rem + 3px);
    padding-bottom: 2rem;
    width: 50rem;
    overflow: auto;
    position: relative;
    margin: auto;
}

#footer {
    width: 100%;
    height: auto;
    position: absolute;
    padding: 2rem 0;
    color: #b0aebb;
}

.footer-entry {
    width: 50rem;
    margin: .5rem auto;
    text-align: center;
    font-size: .8rem;
    font-weight: 300;
}

    .footer-entry a:hover {
        color: #00b4ff;
        text-decoration: underline;
    }

#disclaimer {
    width: 30rem;
    margin: 2rem auto .5rem auto;
    text-align: center;
    font-size: .7rem;
}

.section-title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.42;
    text-rendering: optimizeLegibility;
    color: #f9f9f9;
    text-transform: uppercase;
    margin: 1.5rem 0;
}

#reset-container {
    margin: 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#reset-button {
    padding: 20px;
    background-color: #ffdd00;

    color: #1b1a26;
    font-weight: 500;
    text-transform: uppercase;
}

    #reset-button:hover {
        background-color: #ffea62;
    }

    #reset-button:active {
        background-color: #d8bb00;
    }
