#match-white-popup-border {
    border: solid 2px white;
    border-top: none;
    border-bottom: none;
}

.popup-container {
    color: #f9f9fa;
    background-color: #1b1a26;
    font-size: 1em;
    border-radius: 5px;
    padding: 10px;

    width: 300px;
    min-height: 100px;
}

.popup-divider {
    height: 2px;
    width: calc(100% + (10px * 2));
    margin: 10px 0 10px -10px;
    background-color: #2f2d42;
}

#loading-spinner-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-spinner {
    width: 50px;
    height: 50px;
}

#popup-header {
    display: flex;
    flex-direction: column;
}

#popup-title-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.popup-title-detail {
    color: #b0aebb;
    font-size: 1em;
    white-space: pre;
}

.ellipsis-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#popup-episode-title {
    font-size: 1.75em;
}
