<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/toggle.css" />
    <link rel="stylesheet" href="../styles/settings.css" />

    <title>BetterVRV Settings</title>
</head>

<body>
    <div id="header">
        <img id="logo" src="../images/logotype.png" />
    </div>
    <div id="container">
        <div class="control-panel-container">
            <div class="control-panel-title">Spoilers</div>
            <div class="control-panel">
                <div class="control-row">
                    <div class="control-container">
                        <input id="thumbnail-spoiler-toggle" class="toggle" type="checkbox" />
                        <label for="thumbnail-spoiler-toggle" class="toggle"><div></div></label>
                    </div>
                    <label class="control-label" for="thumbnail-spoiler-toggle">
                        <div class="control-title">
                            Thumbnails
                        </div>
                        <div class="control-description">
                            All thumbnails will be blurred.
                        </div>
                    </label>
                </div>
                <div class="control-row">
                    <div class="control-container">
                        <input id="description-spoiler-toggle" class="toggle" type="checkbox" />
                        <label for="description-spoiler-toggle" class="toggle"><div></div></label>
                    </div>
                    <label class="control-label" for="description-spoiler-toggle">
                        <div class="control-title">
                            Description
                        </div>
                        <div class="control-description">
                            The current episode's description will be blurred.
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/settings.js"></script>
</body>

</html>
