@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Montserrat/Montserrat-Thin.ttf');
}

    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 100;
        src: url('../fonts/Montserrat/Montserrat-ThinItalic.ttf');
    }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf');
}

    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 200;
        src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf');
    }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 300;
        src: url('../fonts/Montserrat/Montserrat-LightItalic.ttf');
    }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 400;
        src: url('../fonts/Montserrat/Montserrat-Italic.ttf');
    }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}

    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 500;
        src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf');
    }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
}

    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 600;
        src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');
    }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 700;
        src: url('../fonts/Montserrat/Montserrat-BoldItalic.ttf');
    }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 800;
        src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf');
    }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Montserrat/Montserrat-Black.ttf');
}

    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 900;
        src: url('../fonts/Montserrat/Montserrat-BlackItalic.ttf');
    }

html {
    background-color: #1b1a26;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    height: auto;
    overflow: auto;
}

a {
    text-decoration: inherit;
    color: inherit;
}
