#bvrv-status-icon-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bvrv-status-icon-container {
    position: relative;
    width: 80px;
    height: 80px;
    opacity: 0;
}

#bvrv-status-icon {
    width: 100%;
    height: 100%;
}

#bvrv-status-value {
    color: #f9f9fa;
    background-color: #474658;
}

    .bvrv-status-value-center {
        position: absolute;
        top: 0;

        height: 20px;
        width: 30px;
        margin: 30px 25px;
        text-align: center;
    }

    .bvrv-status-value-below {
        display: inline-block;
        margin-top: 10px;
        padding: 5px;
        border-radius: 5px;
        border: none;
    }

.bvrv-fade-out {
    animation: fadeOut 2s ease;
}

@keyframes fadeOut {
    0% {
        opacity: .5;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}
